<!-- Dynamic Home -->
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<!-- Static Home -->
<% else %>
  <div class="center hero-unit">
  <h1>Welcome to CourseKarma Sample Application</h1>

  <h2>
    This is where we will be demoing the
    <a href="http://coursekarma.com" target='_blank' >CourseKarma </a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path,
                              class: "btn btn-large btn-primary" %>
  </div>

  <div class ="center"><%= link_to image_tag("ck.png", alt: "CourseKarma"), 'http://coursekarma.com' %></div>
<% end %>

